html,body{
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}
.be-red{
  background-color: #E74C3C;
}
.white{
  color: #ECF0F1;
}
.large-padding{
  padding: 8px 5px;
}
#logo{
  font-size: 1.2em;
}
.no-margin{
  margin: 0px;
}
a:visited{
  color: inherit;
}